@media screen and (max-width:768px) {
  div.sign-in {
    width: 95vw;
    text-align: center;

    form{
        margin: 0 5vw;
        
        div.buttons{
            display: flex;
            flex-direction: column;

            button.custom-button{
                margin-bottom: 10px;
            }
        }
    }

  }
}

.sign-in {
    width: 380px;
    display: flex;
    flex-direction: column;

    .title {
        margin: 10px 0;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
    }
}