.media-box {
  margin-top: 22px;

  .media-block {
    margin-bottom: 30px;
    display: flex;  
    flex-direction: row;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 100px;
    box-shadow: 0px 2px 5px 0px #00000069;

    .media-icon{
      font-size: 50px;
      padding: 5px 10px;
      color: rgb(66, 66, 66);
    }

    .media-info{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 5px 15px;

      .info-main{
        font-size: 18px;
        letter-spacing: .3px;
        font-weight: 600;
      }

      .info-sub{
        font-size: 17px;
      }
    }
  }

  .social-media-block{
    margin-bottom: 30px;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 100px;
    text-align: center;
    box-shadow: 0px 2px 5px 0px #00000069;

    .info-social{
      text-align: center;
      font-weight: 600;
      font-size: 19px;
      display: inline-block;
      margin-bottom: 10px;
    }

    .social-media{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      
      &-icons{
        font-size: 30px;
        color: #424242;
      }
    }
  }
}